.shopping-container{
    display:grid;
    grid-template-columns: 4fr 1fr;

    
}
.guiter-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   
}
.shopping-cart{
    position:sticky;
    top:0;
    background-color: aliceblue;
    padding:10px;
    border-radius:10px;
    text-align: center;
}